.search-bar-container {
  margin-bottom: 1rem;
  background: var(--component-background);
}

.form-container {
  display: flex;
  background-color: var(--dm-grayishblue);
  padding: 5px;
  width: 100%;
  height: 60px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
}
.form-container img {
  height: 20px;
  width: 20px;
  display: inline;
  margin-right: 10px;
}
input[type='text'] {
  font-family: 'Space Mono', monospace;
  background-color: inherit;
  color: var(--text-primary);
  border: none;
  outline: none;
  flex-grow: 2;
}
.form-container button {
  min-width: 60px;
  max-width: 105px;
  padding: auto 10px;
  height: 100%;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 14px;
  color: white;
  background-color: var(--button);
  border-radius: 10px;
  flex-grow: 1;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.form-container button:hover {
  background-color: #60abff;
}
